<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Criação de Pesquisa</title>
    <link rel="stylesheet" href="/css/criacaoEdicaoPesquisa.css">
</head>
<body>

    <header class="header">
        <div class="logo-placeholder"></div>
        <a href="homepage.html" class="logout-btn">Log out</a>
    </header>

    <main class="main-content">
        
        <div class="form-container">
            <input type="text" class="title-input" placeholder="Título da pesquisa">
            <div class="form-body">
            </div>
            <input type="text" class="footer-input" placeholder="Escreva aqui...">
        </div>

        <aside class="sidebar">
            <label class="sidebar-label">Adicionar:</label>
            <button class="sidebar-btn">Questionario</button>
            <button class="sidebar-btn">Escala</button>
            <button class="sidebar-btn">Texto</button>
            <button class="sidebar-btn">Caixa de resposta</button>
            
            <button class="save-btn">Salvar rascunho</button>
        </aside>

    </main>

    <script src="/js/criacaoEdicaoPesquisa.js"></script>
</body>
</html>